* {
   margin: 0;
}
.header {
  background-image: url("https://image.shutterstock.com/image-photo/wide-collage-fresh-fruits-vegetables-260nw-765431173.jpg");
  height: 200px;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.grocery-list{
 text-align: center;
 font-size: 60px;
 color :#bf2020; 
  padding-top: 35px;
}
body {
  background : #e2c223;
}
.fruit-img{
      margin-top: -76px;
}
.grocery-name{
    margin-top: 50px
      ;
    margin-left: 76px;
}
.grocery-name li {
 
  font-size : 20px;
}
