.grocery-list{
    margin-top: -200px;
    text-align: center;
    font-size: 60px;
    color :#bf2020;
   }
   .fruit-img{
         margin-top: -76px;
   }
   .grocery-name{
       margin-top: 135px;
       margin-left: 76px;
   }
   .grocery-name li {
    
     font-size : 20px;
   }
   